<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1015706292862-2b3poic2t2odime3hol80otil207mida.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1015706292862-2b3poic2t2odime3hol80otil207mida</string>
	<key>API_KEY</key>
	<string>AIzaSyBuoHISMne5nE9m64lEJztifkArKX0OiyU</string>
	<key>GCM_SENDER_ID</key>
	<string>1015706292862</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lealzy.customer</string>
	<key>PROJECT_ID</key>
	<string>lealzy-pre-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>lealzy-pre-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1015706292862:ios:2d58b837b428026a6d7e2f</string>
</dict>
</plist>